$c-primary: #c30b24;
$c-secondary: #f6d44d;
$c-tertiary: #474342;
$c-quaternary: #eaecef;

$c-white: #ffffff;
$c-grey: #c4cdd5;
$c-black: #000000;

$c-header-background: #020002;
$c-header-border-color: #FFFFFF26;
$c-promotion-center: #fcc0f9;
$c-body-background: #0a0c16;
$c-main-div-background: #3A3C47;

$c-footer-background: #0A0C16;
$c-footer-divider: #87898e;

$c-yellow-button-background: #FCCD38;
$c-price-row-black: #1F2129;
$c-green-text: #61CE8D;
$c-grey-text: #87879B;